<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<!--el siguiente conexion string es del 01-01-Crud-ADO-NET-->
	<!--<connectionStrings>
		<add name="dbcrudbasicEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-RQVCOG4\SQLEXPRESS;initial catalog=crudbasic;user id=sa;password=bf-08;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>-->
<connectionStrings><add name="crudbasicEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-RQVCOG4\SQLEXPRESS;initial catalog=crudbasic;user id=sa;password=bf-08;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>